SUBSYSTEM=="input", DEVPATH=="*/event*", ATTRS{name}=="HID 05a4:9881", \
  TAG+="systemd", ENV{SYSTEMD_READY}="1", \
  ENV{SYSTEMD_WANTS}="hama-mce-remoted@-dev-input-%k.service"
