ACTION=="add", SUBSYSTEM=="input", DEVPATH=="*/event*", ATTRS{name}=="HID 05a4:9881", GOTO="hama-mce"

GOTO="hama-mce-end"

LABEL="hama-mce"

ATTRS{phys}=="*/input0", \
	SYMLINK+="input/event-hama0", ENV{SYSTEMD_ALIAS}="/dev/input/event-hama0"

ATTRS{phys}=="*/input1", \
	SYMLINK+="input/event-hama1", ENV{SYSTEMD_ALIAS}="/dev/input/event-hama1"

MODE="0660", TAG+="systemd", ENV{SYSTEMD_READY}="1"


LABEL="hama-mce-end"
