[Unit]
Description = HAMA MCE remote control daemon

[Service]
Type=simple
EnvironmentFile = -/etc/sysconfig/hama-mce-remoted
ExecStartPre = -/sbin/modprobe -qab uinput
ExecStart = /usr/sbin/hama-mce-remoted $HAMA_MCE_OPTS %I
